@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.skills {
  padding: 20px;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.skill {
  display: inline-block;
  margin: 20px;
  position: relative;
}

.circular-progress {
    position: relative;
    height: 120px; /* Decrease the height to reduce the size */
    width: 120px; /* Decrease the width to reduce the size */
    border-radius: 50%;
    background: conic-gradient(#3a6cf4 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .circular-progress::before {
    content: "";
    position: absolute;
    height: 80px; /* Adjust the inner circle height */
    width: 80px; /* Adjust the inner circle width */
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
  }

.progress-value {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  color: #3a6cf4;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}

.col-right {
  text-align: right;
  flex: 1;
  margin-right: 200px;
}

.col-left {
  text-align: left;
  flex: 1;
  margin-left: 200px;
}

.backend-title {
  margin-right: 60px;
  margin-top: 50px;
}

.frontend-title {
  margin-left: 60px;
  margin-top: 50px;
}

.front-end-skills, .back-end-skills {
  margin-top: 60px;
}

.react-node .skill:last-child {
  margin-top: 60px;
  text-align: center;
  margin-left: 90px;
}

.node-node .skill:last-child {
    margin-top: 60px;
    text-align: center;
margin-right: 90px;
}

.back-end-skills .node-node {
    margin-right: 30px;

}
