/* Header Styling */
header {
    z-index: 999;
    position: fixed;
    background-color: #979BA9;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
  }
  
  header.sticky {
    background: #3a6cf4;
    padding: 10px 200px;
  }
  
  header .brand {
    color: #3a6cf4;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
  }
  
  header .navigation {
    position: relative;
  }
  
  header .navigation a {
    color: black;
    background-color: white;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 5px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }
  header .navigation :hover {
    background-color: #3a6cf4;
    color: black;
  }
  
  header.sticky .navigation a:hover {
    color: #000;
  }
  
  /* Main Section Styles */
  .main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: #CACAC6;
    padding-bottom: 50px;
    border: 2px solid #000;
    background-image: url('./images/back.jpg');
    background-size: cover;
  }
  
  .main .content {
    max-width: 800px;
    margin-right: 20px;
    margin-bottom: 20px;
    
  }
  
  .main .content h2 {
    color: #0c0c0c;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    margin-left: 70px;
  }
  
  .main .content h2 span {
    font-size: 2em;
    font-weight: 750;
    
  }
  
  .animated-text{
    height: 60px;
    overflow: hidden;
    text-align: center;
    margin-left: 10px;
  }
  
  .animated-text h3{
    color: #4e9eff;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
  }
  
  .animated-text h3:nth-child(1){
    animation: text-move 10s infinite;
  }
  
  @keyframes text-move{
    0%{
      margin-top: 0;
    }
    25%{
      margin-top: -70px;
    }
    50%{
      margin-top: -140px;
    }
    75%{
      margin-top: -70px;
    }
    100%{
      margin-top: 0;
    }
  }
  
  
  /* Body Styling */
  body {
    min-height: 110vh;
  }
  
  /* Additional Styling */
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .main .content {
    flex: 1 ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .text-content {
    flex: 1;
    margin-right: 20px; /* Adjust as needed */
  }
  
  .abtImageContainer {
    text-align: center;
    margin-right: 100px;
  }
  
  .abtImage {
    text-align: center;
    height: 550px;
    width: 550px;
    margin-top: 30px;
    border-radius: 50%; 
    border: 1px transparent ; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 2);
    margin-bottom: 5px;
  }
  
  .abtImage img {
    flex: 1;
    text-align: center;
    height: 550px;
    width: 550px;
    margin-top: 30px;
    border-radius: 50%; 
    border: 1px transparent; 
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 4); 
    margin-bottom: 10px;
  }
  
  /* Button Styles */
  .btn:hover {
    background: #235bf6;
  }
  
  .btn {
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 15px;
  }
  
  @media screen and (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  
    .text-content {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  .media-icons {
    position: absolute;
    bottom: 60px;
    left: 30%;
    gap: 150px;
    transform: translateX(-70%);
  }
  
  .media-icons .facebook, .github, .linkedin {
    display: inline-block;
    margin: 0 50px;
  }