.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-form {
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
}

.contact-form h3 {
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}

.contact-form .input-box .send-btn {
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover {
    background: #235bf6;
}

.info-wrap {
    flex: 1;
    padding: 20px;
}

.info-wrap h3 {
    margin-bottom: 20px;
}

.info-wrap p {
    margin-bottom: 10px;
}
