*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.main .content {
  max-width: 800px;
  text-align: center;
  margin-right: 20px;
}

.main .content h2 {
  color: black;
  font-size: 1.8em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 1em;
  font-weight: 600;
}

.animated-text {
  height: 70px;
  overflow: visible;  /* Change to visible */
}

/* Ensure z-index is higher */
.animated-text h3 {
  position: relative;
  width: 100%;
  color: #4e9eff;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
  margin: 0;
  animation: text-move 10s infinite; /* Apply animation to all h3 elements */
}

@keyframes text-move {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-70px);
  }
  50% {
    transform: translateY(-140px);
  }
  75% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}



.btn:hover {
  background: #235bf6;
}

/* Header Styling */
header {
  z-index: 999;
  position: fixed;
  background-color: rgb(114, 3, 3);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .brand {
  color: black;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation a {
  color: rgb(68, 0, 0);
  background-color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 5px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

header .navigation a:hover {
  color: #3a6cf4;
}

header.sticky .navigation a:hover {
  color: #000;
}

/* Body Styling */
body {
  min-height: 110vh;
}

/* Additional Styling */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main .content {
  flex: 1 ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
  
}

.text-content {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.abtImage {
  flex: 1;
  text-align: center;
}
.abtImage img {
  flex: 1;
  text-align: center;
  height: 550px;
  width: 600px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .text-content {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
