/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Main Section Styles */
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.main .content {
  max-width: 800px;
  text-align: center;
  margin-right: 20px;
}

.main .content h2 {
  color: black;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin-right: 40px;
}

.main .content h2 span {
  font-size: 2em;
  font-weight: 750;
  
}

.animated-text{
  position: relative;
  height: 70px;
  overflow: hidden;
  text-align: center;
}

.animated-text h3{
  color: #4e9eff;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1){
  animation: text-move 10s infinite;
}

@keyframes text-move{
  0%{
    margin-top: 0;
  }
  25%{
    margin-top: -70px;
  }
  50%{
    margin-top: -140px;
  }
  75%{
    margin-top: -70px;
  }
  100%{
    margin-top: 0;
  }
}

/* Header Styling */
header {
  z-index: 999;
  position: fixed;
  background-color: rgb(114, 3, 3);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky {
  background: #3a6cf4;
  padding: 10px 200px;
}

header .brand {
  color: black;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation a {
  color: rgb(68, 0, 0);
  background-color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 5px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

header .navigation a:hover {
  color: #3a6cf4;
}

header.sticky .navigation a:hover {
  color: #000;
}

/* Body Styling */
body {
  min-height: 110vh;
}

/* Additional Styling */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main .content {
  flex: 1 ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px; 
}

.text-content {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.abtImageContainer {
  text-align: center;
  margin-right: 150px;
}

.abtImage {
  text-align: center;
  height: 500px;
  width: 500px;
  margin-top: 30px;
  border-radius: 50%; /* Make the image circular */
  border: 5px solid #fff; /* Add a white border */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  margin-bottom: 20px;
}

.abtImage img {
  flex: 1;
  text-align: center;
  height: 500px;
  width: 500px;
  margin-top: 30px;
  border-radius: 50%; /* Make the image circular */
  border: 5px solid #fff; /* Add a white border */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  margin-bottom: 20px;
}

/* Button Styles */
.btn:hover {
  background: #235bf6;
}
.btn {
  margin-top: 0px;
  
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 20px;
  
}



@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .text-content {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
